/*#nav{ width:374px; margin:8px 23px 0 223px; padding:0; float:left; height:28px; }
#nav ul { display:block; margin:0; padding:0; }
#nav li {display:inline; height:28px; margin:0; padding:0 1px 0 0; } 
#nav ul li a {color:#545353; display:inline; margin:0; padding:0;} 
#nav ul li a:hover { color:#545353; display:inline; margin:0; padding:0; }

#navbg{ background-image:url(../images/navbg.jpg); background-position:left top; background-repeat:repeat-x; padding:0; margin:0; float:left; }
#navbg ul { display:block; margin:0; padding:0; }
#navbg li {display:inline; margin:0; padding:0; } 
#navbg ul li a { display:inline; margin:0; padding:0;} 
#navbg ul li a:hover { display:inline; margin:0; padding:0; }*/
#nav{ width:374px; margin:1px 23px 0 166px; padding:0; height:28px; float:left; display:inline;}
#nav ul { margin:0; padding:0;}
#nav li {display:inline; height:28px; margin:0; padding:0 1px 0 0; float:left; } 
#nav ul li a {color:#545353; display:inline; margin:0; padding:0;float:left;} 
#nav ul li a:hover { color:#545353; display:inline; margin:0; padding:0;}

#navbg{ background-image:url(../../images/frontend/navbg.jpg); background-position:left top; background-repeat:repeat-x; padding:0; margin:0; float:left;width:384px;}
.nav_sub_bg{ background-image:url(../../images/frontend/navbg.jpg); background-repeat:repeat-x; height:35px; }
#navbg ul {margin:0; padding:0; }
#navbg li {display:inline; margin:0; padding:0;} 
#navbg ul li a { display:inline; }
#navbg ul li a:hover { display:inline; }

/* Added for superfish menu by Shreyas */
.sf-menu { height:35px; margin:0 2px 0 0; z-index:80; }
.sf-menu li { position:relative; display:inline; float:left; z-index:80; overflow:hidden; }
.sf-menu li a { display:block; float:left; height:35px; }

.sf-menu li:hover { visibility:inherit; overflow:visible; /* fixes IE7 'sticky bug' */ }
.sf-menu li ul { left:0px !important; top:36px !important; float:left; clear:both; display:inline !important; padding:2px 0 0 0; }
.sf-menu ul { border:0px solid #000; margin:0; position:absolute; top:-999em; width:9em; /* left offset of submenus need to match (see below) */ z-index:80; }

.sf-menu li#prod_menu ul { width:705px; height:auto !important; background:#005359 url('../../images/frontend/bg_subnav.gif') repeat-y left top; border-width:10px 0; border-style:solid; border-color:#005359; }
.sf-menu li#prod_menu ul li.col1 { width:230px !important; float:left; }
.sf-menu li#prod_menu ul li.col2 { width:230px !important; padding:0 0 0 5px; float:left; }
.sf-menu li#prod_menu ul li.col3 { width:230px !important; padding:0 0 0 5px; float:left; }

.sf-menu li#prod_menu ul a { float:none; display:block; }

.sf-menu ul li { width:168px !important; padding:0 6px; color:#FFFFFF; float:left; position:relative; cursor:pointer; }
.sf-menu ul li ul { left:180px !important; top:36px !important; float:left; clear:both; display:inline !important; }
.sf-menu li li { height:auto; color:#FFFFFF; }

.sf-menu li li:hover { color:#fff !important; cursor:pointer; }
.sf-menu li li a { background:none; height:auto; float:left; color:#FFFFFF; }

.sf-menu li li a { font-size:11px; color:#FFFFFF; float:left; text-decoration:none; text-indent:0; }
.sf-menu li li a.main_cat { font-weight:bold; text-transform:uppercase; margin:3px 10px 0 0; padding:7px 8px 4px; }
.sf-menu li li a.main_cat:hover { background:#0095A0; font-weight:bold; }
.sf-menu li li a.sub_cat { margin:0 10px 2px 0; padding:0 8px 0 18px; text-transform:capitalize; }
.sf-menu li li a.sub_cat:hover { background:#0095A0; }

.sf-menu a:link { font-size:11px; color:#FFFFFF; }
.sf-menu a:visited { font-size:11px; color:#FFFFFF; }
.sf-menu a:hover { font-size:11px; color:#FFFFFF; text-decoration:none; cursor:pointer; }
.sf-menu a:active { font-size:11px; color:#FFFFFF; }

.sf-menu.sf-menu li:hover li ul, .sf-menu.sf-menu li.sfHover li ul { top:-999em; }
.sf-menu.sf-menu li li:hover ul, .sf-menu.sf-menu li li.sfHover ul { left:9em; /* match ul width */ top:0; }

.sf-menu li:hover ul, .sf-menu li.sfHover ul { left:0; top:2.1em; /* match top ul list item height */ z-index: 99; }
