/* CSS Document */
    html,body
    {
        margin:0;
        padding:0;
    }
    .modal-overlay
    {
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
        height:100%;
        width:100%;
        margin:0;
        padding:0;
        background:	#002C2F;
        opacity:.75;
        filter: alpha(opacity=75);
        -moz-opacity: 0.75;
        z-index:101;
    }
	  /*  * html .modal-window  
   {  
            position:absolute;  
            top:expression(document.documentElement.scrollTop + (document.documentElement.clientHeight / 2) + 'px');  
   }  */
    * html .modal-overlay
    {  
        position: relative;
        height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
    }
    .modal-window
    {
        position:fixed;
        top:80%;
        left:35%;
		right:25%;
        margin:0;
        padding:0;
        z-index:102;
    }
    * html .modal-window
    {
        position:absolute;
    }
    .close-window
    {
        position:absolute;
        width:32px;
        height:32px;
        right:8px;
        top:8px;
        /*background:transparent url('../images/btn_close.gif') no-repeat scroll right top;*/
        text-indent:-99999px;
        overflow:hidden;
        cursor:pointer;
        opacity:.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
    }
    .close-window:hover
    {
        opacity:.99;
        filter: alpha(opacity=99);
        -moz-opacity: 0.99;
    }
   

