body {
    font-family: Arial, sans-serif;
}
div#tmpSlideshow {
    /*margin: 10px;
    padding: 30px 0 0 0;*/
    position: relative;
    height: 454px;
    width: 929px;
    /*border: 1px solid rgb(200, 200, 200);*/
    background:url('/images/frontend/banner_jquery_bg.jpg') no-repeat;
}
div.tmpSlide {
    position: absolute;
    top: 0;
    left: 0;
    width: 730px;
    height: 332px;
    display: none;
}
div.tmpSlide img {
    float: left;
}
div#tmpSlideshowControls {
    position: absolute;
    bottom: 30px;
    right: 11px;
    width: 175px;
}
div.tmpSlideshowControl {
    /*border: 1px solid #e1dece;*/
    float: left;
    margin: 0 5px 0 0;
    background: url('/images/frontend/bot_banner.png') no-repeat;
    width: 12px;
    height: 12px;
    color: #554d31;
    font: 14px Arial, sans-serif;
    text-align: center;
    cursor: pointer;
}
div.tmpSlideshowControl span {
    line-height: 36px;
    vertical-align: middle;
}
div.tmpSlideshowControlOn {
    background-image: url('FeatureOver.png');
}
div.tmpSlideshowControlActive {
    /*border: 1px solid rgb(161, 155, 137);*/
    background-image: url('/images/frontend/bot_banner_active.png');
}
div.tmpSlideCopy {
    position: absolute;
    left: 565px;
    top: 20px;
    width: 170px;
}
div#tmpSlideshow h4 {
    color: #b90f23;
    text-transform: uppercase;
    font: 14px Arial, sans-serif;
    margin: 10px 0;
}
div.tmpSlideCopy p {
    font: 11px Arial, sans-serif;
    line-height: 1.75em;
}